<footer >

    <div class="container-fluid footer-box">
      <div class="social">
        <a href="https://www.facebook.com/sanup.kumar.165"><i class="fa fa-facebook"></i></a>
           <a href="https://github.com/sanupkr"><i class="fa fa-github"></i></a>
      </div>
      <p class="footer-text"> created by sanup</p>
    </div>


</footer>


  </body>
</html>
