<%- include("partials/header"); -%>



<div class="author_image">

  <img src="/images/sanup'simage.png" alt="..." height="250" width="250" class="image_author">
  <div class="author_content">
    <h2 class="">Author</h2>
    <p><em>Sanup Kumar</em></p>
  </div>


</div>

<div class="text_author">
  <h2 >About</h2>

  <p class="home_text"><%= about_text %></p>
</div>



<%- include("partials/footer"); -%>
