<%- include("partials/header"); -%>

      <div class="container-fluid">
        <h1 id="project_head"><%=intro%></h1>
        <img src="<%=image%>" alt="">
      </div>

      <form class="" action="/home" method="post">
        <button type="submit" name="button" id="go_back" class="btn btn-lg btn-dark">go back</button>

        </form>


<%- include("partials/footer"); -%>
