<%- include("partials/header"); -%>
    <form class="" action="/" method="post">
      <div class="container-fluid">
        <h1 id="project_head"><%=intro%></h1>

      </div>

      <div class="container content">
        <label>City:</label>
        <input type="text" name="city_name" class="input-text" placeholder="Enter Your city">
        <br>
        <button type="submit" name="button" class="btn btn-lg btn-dark">submit</button>
      </div>

    </form>

<%- include("partials/footer"); -%>
