body{
  background-image: url("/images/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.navbar{
  padding:3%;
}

.nav-item-text{
  color:white;
}

.input-text{
  border-radius: 2%;
  margin-bottom: 2%;
}

#project_head{
  font-size: 4rem;
  padding-top: 7%;
}


.content{
  font-size: 2rem;
  padding-top: 7%;
}


#go_back{
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer-box{
  margin-top:13%;
  background-color: black;
  color:white;
}



.footer-text{
  margin-top: 0%;
  padding:1%;
  padding-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#home{
  margin-right: 5%;
  font-size: 1.5rem;

}

#about{
  margin-right: 5%;
  font-size: 1.5rem;

}

.home_text{
  font-size: 1.5rem;

}

.city_name{
  margin-top: 3%;
}

.author_image{
  padding-top: 4%;
}


.card-header{
  font-size: 1.5rem;
}

.card-text{
  font-size: 1.5rem;
}

.social{
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
